.bigBanner{
  margin: auto;
  background-size: cover;
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  width: 1680px;
  height: 945px;
  background-image: url('../../assets/background.png');
}
/* 0.5625 */
@media screen and (max-width: 1280px){
  .bigBanner{
    width: 720px;
    height: 405px;
  }
}