h1 {
  font-size: 70px;
}

.bar {
  width: 400px;
  height: 40px;
}
.progress {
  height: 40px;
  width: 0%;
  background-color: aqua;
}
.charactersContainer{
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}
.dotLine{
  margin-bottom: 20px;
  width: 96%;
  border-top: dotted rgb(85, 85, 85) 2px;
  border-width: 1px;
}
.bodyTittle{
  width: 96%;
  font-size: 40px;
  color: rgb(85, 85, 85);
}